@each $margin, $value in $margins {
  .mb-#{$margin} {
    margin-bottom: $value;
  }

  .mr-#{$margin} {
    margin-right: $value;
  }

  .ml-#{$margin} {
    margin-left: $value;
  }

  .mt-#{$margin} {
    margin-top: $value;
  }
}

.margin-auto {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.height-100vh {
  min-height: 100vh;
}
