@each $name, $value in $containers {
  .container-#{$name} {
    width: $value;
    margin: auto;
  }
}

.container {
  width: $container-full;
  margin: auto;
  padding: 16px;

  @media screen and (min-width: $display-md) {
    width: $container-md;
  }

  @media screen and (min-width: $display-lg) {
    width: $container-lg;
  }

  @media screen and (min-width: $display-xl) {
    width: $container-xl;
  }

  &-padding {
    padding: 32px 0;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 -1em;
}

@each $basis, $value in $flex-basises {
  @each $display, $valueDis in $display-sizes {
    @media screen and (min-width:$valueDis) {
      .box-#{$basis}-#{$display} {
        width: $value;
        margin: 0 1em;
      }
    }
  }

  .box-#{$basis} {
    width: $value;
    margin: 0 1em;
  }

}

.grid-container-5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  @media screen and (min-width: $display-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $display-lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $display-xl) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  @media screen and (min-width: $display-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $display-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
