.btn {
  outline: none;
  background-color: $white;
  border: none;
  display: inline-block;
  padding: $btn-pd-sm;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  font-size: $fs-sm;
  transition: 0.15 all;
  border-radius: 4px;

  @media screen and (min-width: $display-md) {
    padding: $btn-pd-md;
    font-size: $fs-base;
  }

  @media screen and (min-width: $display-lg) {
    padding: $btn-pd-lg;
  }

  &-primary {
    background-color: $primary;
    color: $white;
  }
}
