.card {
  display: flex;
  flex-direction: column;
  border: solid 1px $black-04;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  background-color: $white;

  &-img {
    width: 100%;
  }

  &-info {
    padding: 16px;

    &__title, &__text {
      color: $black-01;
      font-size: $fs-base;
      margin-bottom: 8px;
      text-transform: capitalize;
    }

    &__text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__price {
      font-size: $fs-base;
      color: $primary;
      font-weight: $fw-semibold;
    }
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 1px 8px 20px $black-04;
  }
}
